<h2> Escolha seu curso: </h2>

<div class= "courses-wrapper" >
  <button type="button" name="button" id="software">
    <div class= "btn-courses" >
      <span class="fa fa-terminal"></span>
      <h2 class="course-title">
        Software
      </h2>
    </div>
  </button>
  <button type="button" name="button" id="aeroespacial">
    <div class= "btn-courses" >
        <span class="fa fa-rocket"></span>
      <h2 class="course-title">
        Aeroespacial
      </h2>
    </div>
  </button>
  <button type="button" name="button" id="automotiva">
    <div class= "btn-courses" >
        <span class="fa fa-car"></span>
      <h2 class="course-title">
        Automotiva
      </h2>
    </div>
  </button>
  <button type="button" name="button" id="energia">
    <div class= "btn-courses" >
        <span class="fa fa-leaf"></span>
      <h2 class="course-title">
        Energia
      </h2>
    </div>
  </button>
  <button type="button" name="button" id="eletronica">
    <div class= "btn-courses" >
        <span class="fa fa-desktop"></span>
      <h2 class="course-title">
        Eletrônica
      </h2>
    </div>
  </button>
</div>
