<ol class="progress-track">
  <li class="progress-done">
    <center>
      <div class="icon-wrap">
        <svg class="icon-state icon-check-mark">
          <use xlink:href="#icon-check-mark"></use>
        </svg>

        <svg class="icon-state icon-down-arrow">
          <use xlink:href="#icon-down-arrow"></use>
        </svg>
      </div>
      <span class="progress-text">Login</span>
    </center>
  </li>

  <li class="progress-done progress-current">
    <center>
      <div class="icon-wrap">
        <svg class="icon-state icon-check-mark">
          <use xlink:href="#icon-check-mark"></use>
        </svg>

        <svg class="icon-state icon-down-arrow">
          <use xlink:href="#icon-down-arrow"></use>
        </svg>
      </div>
      <span class="progress-text">Curso</span>
    </center>
  </li>

  <li class="progress-todo">
    <center>
      <div class="icon-wrap">
        <svg class="icon-state icon-check-mark">
          <use xlink:href="#icon-check-mark"></use>
        </svg>

        <svg class="icon-state icon-down-arrow">
          <use xlink:href="#icon-down-arrow"></use>
        </svg>
      </div>
      <span class="progress-text">Submeter arquivos</span>
    </center>
  </li>
</ol>

<div class="tcc-container">
  <%= render partial: 'partials/login'%>
</div>
