ol {

  &.progress-track {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 2em 0em;
    table-layout: fixed;
    width: 100%;

    li {
      display: table-cell;
      line-height: 3em;
      position: relative;
      text-align: center;

      .icon-wrap {
        border-radius: 50%;
        top: -2em;

        color: #fff;
        display: block;
        height: 2.5em;
        margin: 0 auto -2em;
        left: 0;
        right: 0;
        position: absolute;
        width: 2.5em;
      }

      .icon-check-mark, .icon-down-arrow {
        height: 25px;
        width: 15px;
        display: inline-block;
        fill: currentColor;
      }

      .progress-text {
         position: relative;
         top: 1px;
      }

      &.progress-done {
        border-top: 7px solid #009b37;
        transition: border-color 1s ease-in-out;
        -webkit-transition: border-color 1s ease-in-out;
        -moz-transition: border-color 1s ease-in-out;

        .icon-down-arrow {
          display: none;
        }

          &.progress-current {

            .icon-wrap {
              background-color: #005263;

              .icon-check-mark {
               display: none;
              }

              .icon-down-arrow {
                display: block;
              }
            }
          }

        .icon-wrap {
          background-color: #006303;
          border: 5px solid #009b37;
        }
      }

      &.progress-todo {
          border-top: 7px solid #DDD;
          color: black;

        .icon-wrap {
          background-color: #FFF;
          border: 5px solid #DDD;
          border-radius: 50%;
          bottom: 1.5em;
          color: #fff;
          display: block;
          height: 2.5em;
          margin: 0 auto -2em;
          position: relative;
          width: 2.5em;

          .icon-check-mark, .icon-down-arrow {
              display: none;
          }
        }
      }
    }
  }
}

#box-container {
  width:400px;
  border:1px solid #000;
}

.tcc-container {
  padding: 2em 0;
  height: auto;
}

.courses-wrapper button {
  padding: 0;
  border: none;
  width:19.55555%;
  overflow: hidden;
}

.courses-wrapper button h2 {
  transition: transform 0.5s ease;

}

.courses-wrapper button:hover h2{
  transform: scale(1.23);
}

.btn-courses {
  color: white;
  display: inline-block;
}

.btn-courses h2 {
  padding: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  margin: 0 !important;
  width: auto;
}

.btn-courses span{
  font-size: 3em;
  background-color: #009551;
  margin: 0;
  padding: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

}

#software div span {
  background-color: #005e73;
}

#aeroespacial div span {
 background-color: #005e5e;
}

#automotiva div span {
 background-color: #00694e;
 padding-left: 1.8em;
}

#energia div span {
  background-color: #007848;
}

#eletronica div span {
  // mantem a cor verd
}

#software div h2 {
  background-color: #00738C;
}

#aeroespacial div h2 {
 background-color: #006e6e;
}

#automotiva div h2 {
 background-color: #007d5f;
}

#energia div h2 {
  background-color: #008c54;
}

#eletronica div h2 {
background-color: #00a65a;
width: 100%;
}

#eletronica {
  width: 20%;
  overflow: hidden;
}
